@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  color: #151515;
  font-weight: 400;
  font-size: 1.6rem; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.text-center {
  text-align: center; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  height: 6vh;
  padding: 2rem;
  background-color: #fff; }
  .nav__logo,
  .nav__item a:link,
  .nav__item a:visited {
    padding: 1rem;
    text-decoration: none;
    color: #151515;
    font-weight: 400; }
  .nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center; }
  .nav__item {
    padding: 1rem; }
    .nav__item:not(:last-child) {
      margin-right: 1rem; }

.primary-text {
  font-size: 4.5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  letter-spacing: 1px; }

.secondary-text {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 1px; }

.lead {
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 3rem;
  letter-spacing: 1px;
  font-weight: 300;
  color: #b9b9b9; }

.header {
  height: calc(100vh - 6vh);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/hero-1.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .header__span {
    display: block; }
  .header__text-box {
    width: 60rem;
    position: absolute;
    padding: 2rem;
    top: 20%; }

.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem; }
  .aboutme__img {
    width: 50%;
    flex: 1; }
  .aboutme__content {
    margin-left: 1rem;
    flex: 1;
    padding: 1rem; }
    .aboutme__content p {
      font-size: 1.6rem;
      margin-bottom: 1rem; }

.services {
  padding: 2rem; }
  .services__menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    border: 3px solid #f4f4f4;
    padding: 2rem;
    transition: all 0.3s ease-in; }
    .services__menu:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
  .services__item {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 2px solid #f1f1f1; }
    .services__item:nth-child(15), .services__item:nth-child(16) {
      border: none; }
  .services__title {
    font-size: 2rem;
    letter-spacing: 2px; }
  .services__description {
    font-weight: 300;
    font-size: 1.4rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 3rem;
  background-color: #ff00ff;
  color: #fff;
  border-radius: 100px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  font-size: 1.6rem;
  transition: all 0.3s ease-in; }

.btn__cta:active, .btn__cta:focus {
  outline: none; }

.btn__cta:hover {
  background-color: rgba(255, 0, 255, 0.6); }
