@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  color: #343740;
  font-weight: 300; }

.container {
  max-width: 120rem;
  margin: 0 auto; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  height: 5rem;
  padding: 2rem;
  background-color: #fff; }
  .nav__logo,
  .nav__item a:link,
  .nav__item a:visited {
    padding: 1rem;
    text-decoration: none;
    color: #343740;
    font-weight: 400; }
  .nav__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center; }
  .nav__item {
    padding: 1rem; }
    .nav__item:not(:last-child) {
      margin-right: 1rem; }
