.aboutme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &__img {
    width: 50%;
    height: 40rem;
    object-fit: cover;
    flex: 1;
    border-radius: 3px;
  }
  &__content {
    margin-left: 1rem;
    flex: 1;
    padding: 1rem;

    p {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }

  @media only screen and (max-width: 50em) {
    flex-direction: column;

    &__img {
      display: none;
    }
  }
}
