.contact {
  .card {
    padding: 1rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    @media only screen and (max-width: 50em) {
      &:first-child {
        margin-bottom: 1rem;
      }

      &:last-child {
        margin-right: 1rem;
      }
    }
  }

  &__info,
  &__hours {
    padding: 1rem;
  }

  &__content {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media only screen and (max-width: 50em) {
      grid-template-columns: 1fr;
      padding: 2rem 1rem 2rem 2rem;
    }
  }

  &__info {
    margin-bottom: 1rem;

    p {
      margin-bottom: 0.5rem;
    }

    i {
      margin-right: 0.5rem;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 0.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      border-bottom: 1px solid $color-primary;
    }
  }

  &__time {
    font-size: 2rem;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}
