.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  height: 6vh;
  padding: 1.5rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  @media screen and (max-width: 70rem) {
    justify-content: flex-end;
  }

  &__burger {
    display: none;
    width: 3.5rem;
    height: rem;
    padding: 1.1rem 1.6rem;
    position: relative;
    cursor: pointer;

    @media screen and (max-width: 70rem) {
      display: block;
    }

    &--item {
      height: 3px;
      width: 3.5rem;
      background-color: $color-primary;
      position: absolute;
      top: 50%;
      left: 0;

      &::before {
        content: '';
        position: absolute;
        transform: translateY(-1rem);
        height: 3px;
        width: 3.5rem;
        background-color: $color-primary;
      }

      &::after {
        content: '';
        position: absolute;
        transform: translateY(1rem);
        height: 3px;
        width: 3.5rem;
        background-color: $color-primary;
      }
    }
  }

  &__logo,
  &__item a:link,
  &__item a:visited {
    padding: 1rem;
    text-decoration: none;
    color: $color-grey-dark-1;
    font-weight: 400;
    transition: all 0.3s;
    border-bottom: 2px solid transparent;
  }

  &__logo {
    @media screen and (max-width: 70rem) {
      display: none;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 70rem) {
      display: none;

      &.show {
        position: absolute;
        z-index: 100;
        display: flex;
        flex-direction: column;
        transform: translateX(3rem);
        width: 20rem;
        top: 100%;
        right: 1rem;
        background-color: #fff;
        border: 3px solid #eee;
      }
    }
  }

  &__item {
    padding: 1rem;

    a {
      &:hover {
        border-bottom: 2px solid $color-primary;
      }
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }

    .hide-menu {
      display: none;
    }
  }
}
