.services {
  padding: 2rem;

  &__heading {
    text-align: center;
  }

  &__menu {
    list-style: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    border: 3px solid #f4f4f4;
    padding: 2rem;
    transition: all 0.3s ease-in;

    &:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    }
  }

  &__item {
    padding: 1rem 0;
    border-bottom: 1px solid #f1f1f1;
    position: relative;

    &:nth-child(15),
    &:nth-child(16) {
      border: none;
    }
  }

  &__title {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 0.5rem;
  }

  &__description {
    font-weight: 300;
    font-size: 1.4rem;
  }

  &__price {
    color: $color-primary;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-family: 'Open Sans Condensed', sans-serif;

    span {
      font-size: 2rem;
    }
  }
}
